*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.contact-two-grand{
    margin-top: 50px;
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-two-parent{
    width: 80%;
    min-height: 50vh;
    display: flex;
    justify-content: space-between;
    font-family: 'Mulish';
}
.contact-two-one{
    width: 40%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Mulish';
    
}

    

.contact-two-sub2{
    width: 50%;
    padding-left: 50px;
    border-left: 5px solid #002099;
    line-height: 1.2em;
    font-family: 'Mulish';
}
.location{
    width: 40%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 10px 0px;
}
.contact-two-two{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.contact{
    display: flex;
    justify-content: space-between;
}
#one{
    width: 48%;
}
.one{
    display: flex;
    flex-direction: column;
    line-height: 2;
}
.one input, textarea{
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
}
.contact-butt button{
    height: 50px;
    width: 150px;
    border: none;
    margin-top: 20px;
 }
 ::placeholder{
    color: #5c5c5c;
 }
 .contact-last-parent{
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Mulish';
 }
.contact-last{
    width: 80%;
    min-height: 30vh;
    display: flex;
    align-items: center;
    background: #000707;
    color: #ffffff;
    font-family: 'Mulish';
 }
 .contact-last div{
    margin-left: 100px;
    line-height: 2;
 }
 .wale{
    width: 400px;
    font-family: 'Mulish';
 }
 @media screen and (max-width: 780px) {
    .contact-two-grand{
        margin-top: 50px;
        width: 100%;
        min-height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact-two-parent{
        width: 80%;
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
.contact-two-one{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
    .contact-two-sub2{
        width: 100%;
        margin-top: 50px;
        padding-left: 50px;
         border-left: 5px solid #002099; 
        line-height: 1.2em;
    }

    .wale{
        margin-top: 30px;
    }
    .location{
        width: 40%;
        display: flex;
        justify-content: space-between;

    }
    .contact-two-two{
        margin-top: 100px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .contact{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #one{
        width: 48%;
    }
.one{
        display: flex;
        flex-direction: column;
        line-height: 2;
    }
    .one input, textarea{
        border: none;
        border-bottom: 1px solid gray;
        outline: none;
    }
    .contact-butt button{
        height: 50px;
        width: 150px;
        border: none;
        margin-top: 20px;
     }
.contact-two-two{
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#one{
    width: 48%;
}
.one{
    display: flex;
    flex-direction: column;
    line-height: 2;
}
.one input, textarea{
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
}
.contact-butt button{
    height: 50px;
    width: 150px;
    border: none;
    margin-top: 20px;
 }
::placeholder{
    color: #5c5c5c;
 }
 .contact-last-parent{
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .contact-last{
    width: 98%;
    display: flex;
    align-items: center;
    background: #000707;
    color: #ffffff;
 }
.contact-last div{
    margin: 20px;
    
 }
}
