*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
@font-face {
    font-family: 'Clash Display Variable';
    src: url("./ClashDisplay-Variable.ttf");
  }
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&family=Nunito:wght@300&display=swap');

.faq-last{
    width: 100%;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    color: #1c0a00;
    font-size: 30px;
    font-style: normal;
}
.faq-last img{
    height: 2px;
}
.faq-two-grand{
    margin-top: 50px;
    width: 100%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.faq-two-parent{
    width: 90%;
}
.faq-two{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.faq-two-sub{
    width: 48%;
    height: 120px;
}
.f-one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
}
.f-one-sub{
    display: flex;
    align-items: center;
    height: 80px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    visibility: visible;
}
.f-one p{
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 700;
}
.faq-last h3{
    font-family: 'Clash Display Variable';
    font-weight: 600;
    font-size: 30px;
}
.line-one{
    width: 4%;
    position: relative;
    left: 5px;
    top: 10px;
    border-bottom: 1px solid #5C5C5C;

}
@media screen and (max-width: 500px) {
    .faq-two{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .faq-two-sub{
        width: 100%;
    }
}