*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.login-parent{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.login{
    width: 90%;
    display: flex;
}
.login-one{
    width: 30%;
}
.login-one h1{
    width: 50%;
}
.login-two{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.login-sub-one{
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    width: 90%;
}
.login-sub-two{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.login-two input{
    height: 40px;
    width: 60%;
    outline: none;
    border: 1px solid grey;
    border-radius: 4px;
    margin-bottom: 30px;
    font-size: 18px;
}
.login button{
    border-radius: 4px;
}
label{
    width: 60%;
    margin-bottom: 10px;
}
@media screen and (max-width: 780px) {
    .login-parent{
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
    }
    .login{
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .login-one{
        width: 100%;
    }
    .login-one h1{
        width: 100%;
    }
    .login-two{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .login-sub-one{
        display: flex ;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 60vh;
        width: 100%;
    }
.login-sub-two{
        width: 90%;
        display: flex;
        justify-content: space-between;
    }
    .login-two input{
        height: 40px;
        width: 60%;
        outline: none;
        border: 1px solid grey;
        border-radius: 4px;
        margin-bottom: 30px;
        font-size: 18px;
    }
.login button{
        border-radius: 4px;
    }
    label{
        width: 60%;
        margin-bottom: 10px;
    }
}